<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.nexchal.user.mappers.UserMapper">
	
	<!-- 1-1. 회원 가입 -->
	<insert id="joinUser">
		<selectKey order="AFTER" keyProperty="uno" resultType="long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		
		INSERT INTO TB_USER(
			username,
			password,
			name,
			email,
			deleteYn
		) VALUES(
			#{username},
			#{password},
			#{name},
			#{email},
			false
		)
		
	</insert>
	
	<!-- 1-2. 권한 추가 -->
	<insert id="insertUserAuth">
		<selectKey order="AFTER" keyProperty="uano" resultType="long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		
		INSERT INTO TB_USERAUTH(
			username,
			role
		) VALUES(
			#{username},
			#{role}
		)
		
	</insert>
	
	<resultMap id="userMap" type="UserVO">
	 	<id property="uno" column="uno" /> <!-- group by 역할 -->
	 	<result property="username" column="username" />
	 	<result property="password" column="password" />
	 	<result property="name" column="name" />
	 	<result property="email" column="email" />
	 	<result property="deleteYn" column="deleteYn" />
	 	<result property="createDate" column="createDate" />
	 	<result property="updateDate" column="updateDate" />
	 	<collection property="roles" resultMap="authMap"></collection>
	 </resultMap>
	 
	 <resultMap id="authMap" type="UserAuthVO">
	 	<result property="uano" column="uano"/>
	 	<result property="role" column="role" />
	 	<result property="username" column="username" />
	 </resultMap>
	
	
	<!-- 1-3. 사용자 조회 : resultMap을 이용해 userAuth 테이블과 조인해서 데이터 조회 -->
	<select id="selectUser" resultMap="userMap">
		SELECT
			*
		FROM 
			tb_user tu 
				LEFT OUTER JOIN 
					tb_userauth tua
					ON
						tu.username = tua.username
					WHERE
						tu.username = #{username};
	</select>
	
</mapper>