<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.nexchal.board.mappers.board.BoardMapper">

	<!-- 검색 조건 조각 내기 -->
	<sql id="search">
	<!-- 동적 쿼리 만들기 -->
		<if test="(types != null and keyword != null)">
			<foreach collection="types" item="type" open=" and ( " separator="OR" close=")">
				<choose>
					<!-- "" -> equlas 안됨, '' -> equals 됨 -->
					<when test='type.equals("T")'>
						title LIKE concat('%',  #{keyword}, '%')
					</when>
					<when test='type.equals("C")'>
						content LIKE concat('%',  #{keyword}, '%')
					</when>
					<when test='type.equals("W")'>
						writer LIKE concat('%',  #{keyword}, '%')
					</when>
				</choose>
			</foreach>
		</if>
	</sql>
	
	<select id="getAllList" resultType="BoardVO">
		SELECT
			*
		FROM
			TB_BOARD
		WHERE 
			deleteYn = FALSE
		
	</select>
	
	<select id="getAllListByPaging" resultType="BoardVO" parameterType="Criteria">
		SELECT
			*
		FROM
			TB_BOARD
		WHERE 
			deleteYn = FALSE AND bno > 0
		<include refid="search"></include>
		ORDER BY
			bno desc
		LIMIT 
			#{skip}, #{amount}
		
	</select>
	
	<insert id="insertBoard">
		<selectKey order="AFTER" keyProperty="bno" resultType="long">
			SELECT LAST_INSERT_ID()
		</selectKey>
	
		INSERT INTO TB_BOARD(
			title, 
			content, 
			writer,
			deleteYn
		)
		VALUES(
			#{title}, 
			#{content}, 
			#{writer},
			false
		)
	</insert>
	
	<!-- 
	   -규칙 LEFT OUTER JOIN 시 -
		우측 ON 절에서는(널값으로 채워지는 쪽)의 추가 제약조건을 넣고 
		좌측의 추가 제약조건은 WHERE절에 넣어야 한다. 
		-> LEFT OUTER JOIN은 왼쪽에 없는 값은 오른쪽에는 NULL로 채운다.
	 -->
	 <resultMap id="boardMap" type="BoardVO">
	 	<id property="bno" column="bno" /> <!-- group by 역할 -->
	 	<result property="title" column="title" />
	 	<result property="content" column="content" />
	 	<result property="writer" column="writer" />
	 	<result property="createDate" column="createDate" />
	 	<result property="updateDate" column="updateDate" />
	 	<result property="deleteYn" column="deleteYn" />
	 	<collection property="attachFileList" resultMap="attatchFileMap"></collection>
	 </resultMap>
	 
	 <resultMap id="attatchFileMap" type="AttachFileVO" >
	 	<result property="ano" column="ano" />
	 	<result property="bno" column="bno" />
	 	<result property="uuid" column="uuid" />
	 	<result property="filename" column="filename" />
	 </resultMap>
	 
	<select id="selectBoard" parameterType="long" resultMap="boardMap">
		SELECT 
			* 
		FROM
			tb_board tb 
				LEFT OUTER JOIN 
					tb_attach ta 
				ON 
					tb.bno = ta.bno
		WHERE 
			tb.bno = #{bno}
	</select>
	
	<update id="updateBoard">
		UPDATE
			TB_BOARD
		SET
			title = #{title},
			content = #{content},
			deleteYn = #{deleteYn},
			updateDate = now()
		WHERE
			bno = #{bno}	
	</update>
	
	<select id="getTotalCount" resultType="int">
		SELECT
			COUNT(bno)
		FROM
			TB_BOARD
		WHERE 
			deleteYn = FALSE AND bno > 0
		<include refid="search"></include>
	</select>

</mapper>