<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.nexchal.board.mappers.board.BoardFileMapper">

	<insert id="insertAttachFile">
		INSERT INTO TB_ATTACH(
			bno, 
			uuid, 
			filename
		)
		VALUES(
			#{bno}, 
			#{uuid}, 
			#{filename}
		)	
	</insert>
</mapper>