<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.nexchal.board.mappers.board.BoardMapper">
	
	<select id="getAllList" resultType="BoardVO">
		SELECT
			*
		FROM
			TB_BOARD
		
	</select>
	
	<insert id="insert">
		<selectKey order="AFTER" keyProperty="bno" resultType="long">
			SELECT LAST_INSERT_ID()
		</selectKey>
	
		INSERT INTO TB_BOARD(
			title, 
			content, 
			writer
		)
		VALUES(
			#{title}, 
			#{content}, 
			#{writer}
		)
	</insert>
	
	<select id="select" parameterType="long" resultType="BoardVO">
		SELECT
			*
		FROM 
			TB_BOARD
		WHERE
			bno = #{bno}
	</select>
	
	<update id="update">
		UPDATE
			TB_BOARD
		SET
			title = #{title},
			content = #{content},
			updateDate = now()
		WHERE
			bno = #{bno}	
	</update>

</mapper>