<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.nexchal.board.mappers.board.BoardMapper">

	<!-- 검색 조건 조각 내기 -->
	<sql id="search">
	<!-- 동적 쿼리 만들기 -->
		<if test="(types != null and keyword != null)">
			<foreach collection="types" item="type" open=" and ( " separator="OR" close=")">
				<choose>
					<!-- "" -> equlas 안됨, '' -> equals 됨 -->
					<when test='type.equals("T")'>
						title LIKE concat('%',  #{keyword}, '%')
					</when>
					<when test='type.equals("C")'>
						content LIKE concat('%',  #{keyword}, '%')
					</when>
					<when test='type.equals("W")'>
						writer LIKE concat('%',  #{keyword}, '%')
					</when>
				</choose>
			</foreach>
		</if>
	</sql>
	
	<select id="getAllList" resultType="BoardVO">
		SELECT
			*
		FROM
			TB_BOARD
		WHERE 
			deleteYn = FALSE
		
	</select>
	
	<select id="getAllListByPaging" resultType="BoardVO" parameterType="Criteria">
		SELECT
			*
		FROM
			TB_BOARD
		WHERE 
			deleteYn = FALSE AND bno > 0
		<include refid="search"></include>
		ORDER BY
			bno desc
		LIMIT 
			#{skip}, #{amount}
		
	</select>
	
	<insert id="insertBoard">
		<selectKey order="AFTER" keyProperty="bno" resultType="long">
			SELECT LAST_INSERT_ID()
		</selectKey>
	
		INSERT INTO TB_BOARD(
			title, 
			content, 
			writer,
			deleteYn
		)
		VALUES(
			#{title}, 
			#{content}, 
			#{writer},
			false
		)
	</insert>
	
	<select id="selectBoard" parameterType="long" resultType="BoardVO">
		SELECT
			*
		FROM 
			TB_BOARD
		WHERE
			bno = #{bno}
	</select>
	
	<update id="updateBoard">
		UPDATE
			TB_BOARD
		SET
			title = #{title},
			content = #{content},
			deleteYn = #{deleteYn},
			updateDate = now()
		WHERE
			bno = #{bno}	
	</update>
	
	<select id="getTotalCount" resultType="int">
		SELECT
			COUNT(bno)
		FROM
			TB_BOARD
		WHERE 
			deleteYn = FALSE AND bno > 0
		<include refid="search"></include>
	</select>

</mapper>